<div class="p-6 max-w-lg mx-auto bg-white shadow-lg rounded-lg mt-6">
    <h2 class="text-2x1 font-semibold text-gray-700 mg-4">Novo lugar</h2>
    <hr />
    <form id="placeForm" [formGroup]="fieldsForm">
        <div class="mb-4">
            <label for="name" class="block text-gray-600 font-medium mb-2">Nome do lugar</label>
            <input 
                type="text"
                id="name" 
                name="name" 
                formControlName="name"
                class="w-full p-3 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring focus:ring-blue-400"
                placeholder="Ex: Restaurantes, lugares etc..."/>
        </div>

        <div class="mb-4">
            <label for="location" class="block text-gray-600 font-medium mb-2">Localização</label>
            <input 
                type="text"
                id="location" 
                name="location" 
                formControlName="location"
                class="w-full p-3 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring focus:ring-blue-400"
                placeholder="Ex: Location, lugares etc..."/>
        </div>

        <div class="mb-4">
            <label for="urlImage" class="block text-gray-600 font-medium mb-2">Localização</label>
            <input
                type="text"
                id="urlImage"
                name="urlImage"
                formControlName="urlImage"
                class="w-full p-3 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring focus:ring-blue-400"
                placeholder="Ex: Image, lugares etc..."/>
        </div>
    </form>

    <button type="submit" class="w-full bg-blue-600 text-white p-3 rounded shadow hover:bg-blue-700">
        Cadastrar lugar
    </button>
</div>